    @import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

    * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    }

    body {
        background-color: #fe8fa2;
        background-size: 400% 400%;
        min-height: 100vh;
        font-family: 'Fascinate', cursive;
        font-size: 20px;
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:5% 0%}
        50%{background-position:96% 100%}
        100%{background-position:5% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:5% 0%}
        50%{background-position:96% 100%}
        100%{background-position:5% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:5% 0%}
        50%{background-position:96% 100%}
        100%{background-position:5% 0%}
    }

    .logo
    {
        display: flex;
        width: 100px;
        height: 65px;
        top: 40%;
        left: 4%;
        position: relative;
        transform: translate(-50%, -50%);
        animation: miAnimation 1.5s infinite linear;
    }
    @keyframes miAnimation {
        0%
        {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100%
        {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #ef92c0;
    border: 2px solid #b12749;
    }

    .menu-list {
    display: flex;
    list-style: none;
    margin-right: 30px;
    }

    .menu-list li {
    margin: 0 10px;
    }

    .menu-list li a {
    text-decoration: none;
  padding: 0 10px;
  color: #c02346;
  text-decoration: overline;
}

.header

{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: #ff0084;
    border-bottom: 5px dashed #5f2d2e;
}
/* .header span
{
    display: block;
    color:#5f2d2e;
    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;
    animation: typing 2s steps(21), blink .5s infinite step-end alternate;
    overflow: hidden;

} */

.donuts
{
    height: 100%;
    width: 100%;
    display: flex;
    background-size: contain;
}



@keyframes typing {
    from { width: 0 }
}

@keyframes blink{
    50% {border-color: transparent}

}