@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #fe8fa2;
  background-size: 400% 400%;
  min-height: 100vh;
  font-family: "Fascinate", cursive;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}

.logo {
  display: flex;
  width: 100px;
  height: 65px;
  top: 40%;
  left: 4%;
  position: relative;
  transform: translate(-50%, -50%);
}
.logo:hover {
  position: relative;
  animation: miAnimation 1.5s infinite linear;
  cursor: pointer;
}
@keyframes miAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #ef92c0;
  border: 2px solid #b12749;
  position: fixed;
}

.menu-list {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu-list li {
  margin: 0 10px;
}

.menu-list li a {
  text-decoration: none;
  padding: 0 10px;
  color: #c02346;
  text-decoration: overline;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #ff0084;
  border-bottom: 5px dashed #5f2d2e;
}

/* .header span
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#5f2d2e;
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s infinite step-end alternate;
    overflow: hidden;

}  */

.donuts {
  height: 100%;
  width: 100%;
  display: flex;
  background-size: contain;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cards-container {
  width: 100%;
  height: 500px;
  background-color: #ef92bf;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.card-main-1,
.card-main-2,
.card-main-3 {
  width: 300px;
  height: 300px;
  background-color: #c12346;
  border-radius: 20px;
  box-shadow: 7px 8px 11px -1px #c12346;
  border: 2px solid #b0e2c8;
}

.line-custom {
  width: 100%;
  height: 10px;
  border: 0 none;
  background-color: #92dcef;
}
